<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.burhanuddin.lafz">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconblue"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Homepage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConfigHome"
            android:launchMode="singleTask" />
        <activity android:name=".PreDef11" />
        <activity android:name=".PreDef12" />
        <activity android:name=".PreDef21" />
        <activity android:name=".PreDef22" />
        <activity android:name=".PreDef23" />
        <activity android:name=".PreDef31" />
        <activity android:name=".PreDef32" />
        <activity
            android:name=".ViewData1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ViewData2"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ViewData3"
            android:screenOrientation="landscape" />
        <activity android:name=".FileToText" />
        <activity android:name=".RecordWav" />
        <activity android:name=".CommentsToDB" />
        <activity android:name=".RecordWav2" />
        <activity android:name=".DisplayResult"></activity>
    </application>

</manifest>